div#game_elements {
  text-align:center;
}

canvas#game {
  margin: auto;
}

p#title {
  font-family: 'VT323';
  font-size: 300%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 24px;
  margin-top: 24px
}

p#instructions {
  font-family: 'VT323';
  font-size: 200%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 18px;
  margin-top: 18px
}